* {
  margin: 0;
  padding: 0;
}
.slider {
  padding: 20px;
  width: 926px;
  height: 350px;
  overflow: hidden;
  border: solid 10px #0e0d0d;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  display: flex;
  justify-content: center;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all 400ms linear;
}
.bar:not(:last-child) {
  margin-right: 18px;
}
.bar:hover {
  background-color: #fff;
}
.slides {
  width: 300%;
  height: 100%;
  display: flex;
}
.slide {
  width: 33.33%;
  transition: all 500ms linear;
}
.slide img {
  display: block;
  margin: 0 auto;
}
input[name="r"] {
  position: absolute;
  display: none;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -33.33%;
}
#r3:checked ~ .s1 {
  margin-left: -66.66%;
}
.review-comment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-icon {
  opacity: 0;
  transition: all 300ms linear;
}
.bar:hover .nav-icon {
  opacity: 1;
}
.bar:checked .nav-icon {
  opacity: 1;
}
